.App {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}

.chart {
  display: flex;
  padding: 10px;
  min-width: 80%;
  max-width: 80%;
  min-height: 80%;
  max-height: 70vh;
}

.filter-panel {
  padding: 15px;
  gap: 10px;
  display: flex;
  flex-direction: row;
}
